<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%.-1level] %message %xException%n</pattern>
        </encoder>
    </appender>

    <logger name="play" level="INFO" />

    <logger name="application" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="ERROR">>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
